:root {
  --clr-background: #0b2434;
  --clr-accent: #59e391;

  --clr-light: #f5f5f5;
  --clr-lighter: #ffffff;

  --crl-text: #4a4e74;
  --crl-text-darker: #2b283a;

  --clr-button: #5035ff;

  --ff-main: "Roboto", sans-serif;
  --ff-dice: "Karla", sans-serif;
}

.form-container {
  height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

.form--input {
  width: 100%;
  margin-bottom: 15px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 2px 5px;
  text-indent: 7px;
  font-family: "Inter", sans-serif;
}

.form--submit {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: none;
  cursor: pointer;
}

.form--marketing {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.form--marketing > input {
  margin-right: 10px;
}

.form--edit {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  float: left;
  box-shadow: 0px -4px 3px rgb(27 27 24 / 75%);
}

.edit-button {
  /* position: fixed;
  bottom: 50px;
  padding-top: 10px;

  width: 100%;
  height: 50px;
  display: flex;

  justify-content: space-around;
  align-items: center; */
  margin-top: 50vh;
  margin-left: 40vh;
}
/* .edit-button:hover {
  background-color: #59e391;
} */
.edit-button-ws {
  margin-top: 15px;
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 12px;
}

@media screen and (max-width: 470px) {
  .edit-button {
    margin-top: 60px;
    width: 100%;
    margin-left: 40%;
  }
  .edit-button-ws {
    margin-top: 25px;
    display: flex;
    margin-left: 15px;
    align-items: center;
    justify-content: space-evenly;
  }
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: #ffee00;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #ffffff 16.666%,
    #ff3700 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #b2e018 50%,
    #c2f02e 66.666%,
    #ccd7f0 66.666%,
    #d132e6 83.333%,
    #a7489b 83.333%
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #bfc0c0;
  margin: 20px 20px 20px 20px;
  color: #d6e4e4;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.edit-card-btn {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Third Button */

#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-3 .edit-card-btn {
  position: relative;
  transition: all 0.45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #bfc0c0;
  position: absolute;
  transition: all 0.5s ease-Out;
  top: 20px;
  left: 70px;
}

#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#button-3:hover .edit-card-btn {
  color: #2d3142;
}
