:root {
  --clr-background: #0b2434;
  --clr-accent: #59e391;

  --clr-light: #f5f5f5;
  --clr-lighter: #ffffff;

  --crl-text: #4a4e74;
  --crl-text-darker: #2b283a;

  --clr-button: #5035ff;

  --ff-main: "Roboto", sans-serif;
  --ff-dice: "Karla", sans-serif;
}

.form-container {
  height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

.form--input {
  width: 100%;
  margin-bottom: 15px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 2px 5px;
  text-indent: 7px;
  font-family: "Inter", sans-serif;
}

.form--marketing {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.form--marketing > input {
  margin-right: 10px;
}

/* .edit-button:hover {
  background-color: #59e391;
} */

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: #ffffff;

  /* Create the gradient. */
  background-image: linear-gradient(
    45deg,
    #ffffff 16.666%,
    #faedea 16.666%,
    #d9cecb 33.333%,
    #d5d0cc 33.333%,
    #e6e4e2 50%,
    #ffffff 50%,
    #ffffff 66.666%,
    #fefefe 66.666%,
    #ffffff 83.333%,
    #ffffff 83.333%
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.gradient-text:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #bfc0c0;
  margin: 20px 20px 20px 20px;
  color: #d6e4e4;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.rm-default-btn-styles {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Third Button */
.edit-card-btn {
  color: #ffffff;
  text-decoration: none;
  letter-spacing: 1px;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
#button-3 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-3 .edit-card-btn {
  position: relative;
  transition: all 0.45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: #bfc0c0;
  position: absolute;
  transition: all 0.5s ease-Out;
  top: 20px;
  left: 70px;
}

#button-3:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#button-3:hover .edit-card-btn {
  color: #2d3142;
}

/* Second Button */

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-2 .instructed-btn {
  position: relative;
  transition: all 0.35s ease-Out;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #bfc0c0;
  position: absolute;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#button-2:hover #slide {
  left: 0;
}

#button-2:hover .instructed-btn {
  color: #2d3142;
}

/* Seventh Button */

#button-7 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-7 .print-btn {
  position: relative;
  left: 0;
  transition: all 0.35s ease-Out;
}

#dub-arrow {
  width: 100%;
  height: 100%;
  background: #bfc0c0;
  left: -200px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.35s ease-Out;
  bottom: 0;
}

#button-7 img {
  width: 20px;
  height: auto;
}

#button-7:hover #dub-arrow {
  left: 0;
}

#button-7:hover .print-btn {
  left: 150px;
}

.fa-print {
  color: #021d2e;
  font-size: 1.35rem;
}
.wrap-btn {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.preview-btn {
  color: #ffffff;
}
.preview-btn-container {
  background-color: #0b2434;
}
.fa-eye,
.fa-copy {
  font-size: 1.35rem;
  color: #021d2e;
}
@media screen and (max-width: 470px) {
  .button-for-mobile {
    margin-left: 30%;
    margin-top: 0%;
  }

  .hide-btn {
    display: none;
  }
}
