:root {
  --clr-background: #0b2434;
  --clr-accent: #59e391;

  --clr-light: #f5f5f5;
  --clr-lighter: #ffffff;

  --crl-text: #4a4e74;
  --crl-text-darker: #2b283a;

  --clr-button: #5035ff;

  --ff-main: "Roboto", sans-serif;
  --ff-dice: "Karla", sans-serif;
}

.form-container {
  height: 100vh;
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 5px 5px 15px -1px rgba(0, 0, 0, 0.75);
}

.form--input {
  width: 100%;
  margin-bottom: 15px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 2px 5px;
  text-indent: 7px;
  font-family: "Inter", sans-serif;
}

.form--submit {
  width: 50%;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background-color: #639;
  border: none;
  cursor: pointer;
}

.form--marketing {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.form--marketing > input {
  margin-right: 10px;
}

.form--edit {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border-radius: 4px;
  display: flex;
  float: left;
  box-shadow: 0px -4px 3px rgb(27 27 24 / 75%);
}

.edit-button {
  /* position: fixed;
  bottom: 50px;
  padding-top: 10px;

  width: 100%;
  height: 50px;
  display: flex;

  justify-content: space-around;
  align-items: center; */
  margin-top: 50vh;
  margin-left: 40vh;
}
.edit-button-ws {
  margin-top: 15px;
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 12px;
}
@media screen and (max-width: 470px) {
  .edit-button {
    margin-top: 60px;
    width: 100%;
    margin-left: 40%;
  }
  .edit-button-ws {
    margin-top: 25px;
    display: flex;
    margin-left: 15px;
    align-items: center;
    justify-content: space-evenly;
  }
}
