:root {
  --clr-background: #0b2434;
  --clr-accent: #59e391;

  --clr-light: #f5f5f5;
  --clr-lighter: #ffffff;

  --crl-text: #4a4e74;
  --crl-text-darker: #2b283a;

  --clr-button: #5035ff;

  --ff-main: "Roboto", sans-serif;
}

body {
  background-color: var(--crl-text);
  font-family: "Poppins", sans-serif;

  font-size: 16px;
}

a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 450;
  font-size: 0.69rem;
}

/*=============================
	Business Card containers 
===============================*/
.center-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.inner-card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.bizzy-card-container {
  min-width: 200px;
  max-width: 450px;
  flex-basis: auto;
  flex-grow: 1;
  flex-wrap: wrap;
}

/*=============================
	     Left Content
===============================*/
.biz-card-a {
  width: 160px;
  height: 220px;
  background-color: #f2f2f2;
  float: left;
  padding: 10px;
  transition: 0.2s ease;
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.biz-words-container {
  margin-top: 92.5px;
}

.biz-name {
  text-align: center;
  font-weight: 515;
  color: #252526;
  font-size: 1.25em;
  margin-top: -4.35em;
}

.biz-title {
  text-align: center;
  color: #252526;
  font-size: 0.7em;
  font-weight: 410;
}

/*=============================
	     Right Content
===============================*/
.biz-card-b {
  width: 230px;
  height: 220px;
  background-color: #f2f2f2;
  padding: 10px;
  transition: 0.2s ease;
  top: 0;
  bottom: 0;
  overflow: hidden;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

.biz-shape {
  float: right;
  background: #ff4d79;
  /* remove this before adding random color */
  background: -webkit-linear-gradient(-45deg, #ff4d79 0%, #ea2e6d 100%);
  background: -ms-linear-gradient(-45deg, #ff4d79 0%, #ea2e6d 100%);
  background: linear-gradient(135deg, #ff4d79 0%, #ea2e6d 100%);
  transform: scaleX(1) rotate(50deg);
  top: 0;
  bottom: 0;
  height: 322px;
  margin: -25px -55px 0 0;
  border-radius: 50px;
  width: 100%;
  color: #000000;
  border: 2px solid #ffffff;
}

.biz-contact-box {
  position: absolute;
  margin-top: 125px;
  margin-left: -2.5px;
  width: 285px;
  transform: scaleX(1) rotate(-50deg);
}

.fa-chrome,
.fa-envelope,
.fa-phone {
  margin: 10px 8.75px;
  font-size: 15px;
  color: rgb(15, 22, 26);
}

/* .picture-src {
  src: local("./components//assests/static_assests/logo_sample.png");
} */

/*=============================
	 Business Card Mobile
===============================*/
@media screen and (max-width: 470px) {
  .biz-card-a,
  .biz-card-b {
    margin-left: 20.5%;
  }

  .biz-title {
    text-align: center;
    align-items: center;
  }

  .biz-card-a {
    width: 240px;
    height: 185px;
    border-top-right-radius: 18px;
    border-bottom-left-radius: 0;
  }

  .biz-headshot {
    margin-top: 6px;
  }

  .biz-card-b {
    width: 240px;
    height: 180px;
    border-bottom-left-radius: 18px;
    border-top-right-radius: 0;
  }

  .biz-shape {
    transform: scaleX(1) rotate(77deg);
    margin: -13px -60px 0 0;
  }

  .biz-contact-box {
    transform: scaleX(1) rotate(-77deg);
  }

  .biz-contact-box {
    position: absolute;
    margin-top: 150px;
    margin-left: -20px;
    width: 210px;
  }
}

@media screen and (max-width: 375px) {
  .biz-card-a,
  .biz-card-b {
    margin-left: 16%;
  }
}

@media screen and (max-width: 320px) {
  .biz-card-a,
  .biz-card-b {
    margin-left: 15%;
  }
}
.fa-envelope {
  font-size: 14.5px;
}
